.img-wrapper{
  position: absolute;
  top: 2em;
  left: 2em;
}
.header-li{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 40px;
    color: var(--primary-text-color);
    top: 2.5em;
    left: 30em;
  }
  .header-li p {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    color: var(--primary-text-color);
    
  }
  .header-li .li-items:hover {

    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
    color: var(--tertiary-text-color);
    
  }
  .header-li .li-items{
    transition: background-color 200ms ease-in-out ;
  }
  a{
    text-decoration: none;
  }
  .logo{
    width: 60px;
    border-radius: 30px;
  }
  .img-wrapper {
    display: flex;
    align-items: center;
  }
  .img-wrapper .logo-p {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--tertiary-text-color);

  }
  .img-wrapper .logo-span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--primary-text-color);
  }
 